.toolsBlock {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}
.toolsBlock .toolsBlock-main {
  flex: none;
  max-width: none;
  width: 140px;
}
.toolsBlock .toolsBlock-main .toolsBlock-inner {
  background-color: #fff;
  padding: 12px 5px 9px;
  margin: 1px 0;
  border: 1px dashed transparent;
  transition: 0.2s ease-in-out;
}
